{% load staticfiles %}
<html>
    <head>
        <title>Zoya's Art</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'style.css' %}">
    </head>
    <body>
      <nav class="navbar navbar-default navbar-static-top text-center">
        <a href="/">
          <img src="{%static 'images/zoya.png' %}" height="200" width="400" alt="Zoya's Art"></a>
          {% if user.is_authenticated %}
          <a class="navbar-text navbar-right"
          href="{% url 'profile' user.username %}">{{user.username}}</a>
          <a class="navbar-text navbar-right"
          href="{% url 'logout' %}">logout</a>
          {% else %}
          <a class="navbar-text navbar-right"
          href="{% url 'login' %}">login</a>

          {% endif %}

      </nav>

 <main class="container container--mw700" role="main">

{% block content %}
{% endblock %}

 </main>
 <div class="panel-footer" width="50">
 <footer class="text-center">
  <p>Posted by: Fariha Baloch and Zoya Tahir</p>
  <p>Contact information: <a href="mailto:farihabaloch@gmail.com">Fariha Baloch</a>.</p>
 <p>Copyright &copy;2016.</p>
 </footer>
 </div>

  </body>
 </html>
