{% extends 'base.html'%}
{% load staticfiles %}

{% block content%}
<h1>{{username}}<h1><br>

     <div class="row">
        {% for arts in arts %}
        <div class="col-md-4">
          <a href="/{{arts.id}}/">
           <div class="art panel panel-default">
             <div class="panel-heading">
                <h2 class="panel-title text-center"> {{ arts.name}}</h2>
             </div>
             <div class="panel-body">
               <div class="art-photo" >
                   <img class = "img-responsive" src = "{{ arts.img_url.url }}">

                </div>
              </div>
            </div>
          </a>
          </div>
          {% if forloop.counter|divisibleby:3 %}
             </div><div class = "row">
          {% endif %}
        {% endfor %}
          </div>
  <div class="art panel panel-default">

    <div class="panel-heading">
      <h3 class="panel-title"> Add Art </h3>
    </div>
  {% endblock %}
